# Aula 02 - Listas, For e Strings

![](https://image.slidesharecdn.com/introductiontocronqueue-141002202556-phpapp01/95/introduction-to-cron-queue-3-638.jpg?cb=1412281812)

## Listas

Já vimos até aqui que boa parte das instruções que fazemos é necessário utilizar e armazenar valores, sejam estes números, textos ou valores booleanos.

Quando precisamos resolver tarefas maiores e mais complexas, naturalmente a quantidade de valores que precisamos trabalhar aumenta.

Vamos supor que precisamos armazenar um **número grande** de notas de provas. **Não é conveniente** criar uma variável para cada nota.

Seria interessante se o python nos oferecesse algum tipo de estrutura como uma lista para armazenarmos esses valores. **Sim, o python possui exatamente esse tipo de estrutura!**

Podemos imaginar as listas no python como um conjunto de elementos, que podem ser de diversos tipos. **Além de não precisarmos criar um número muito grande de variáveis, é muito conveniente usar uma lista para armazenas itens que estão no mesmo contexto, como é o caso de notas.**

Lista de números

In [1]:
# Como uma lista é criada?
# []
lista = [1, 2, 3, -4, 0.85]
lista

[1, 2, 3, -4, 0.85]

In [2]:
lista = [4, 4, 8, 8]

In [3]:
set(lista)

{4, 8}

In [4]:
len(lista)

4

In [5]:
len(set(lista))

2

In [6]:
if len(set(lista)) == 1:
    print('Todos iguais')
else:
    print(f'A lista tem {len(set(lista))} elementos únicos')

A lista tem 2 elementos únicos

In [7]:
lista =[1, 1, 1]

In [10]:
unicos = len(set(lista))

if unicos == 1:
    print('Todos iguais')
else:
    print(f'A lista tem {unicos} elementos únicos')

Todos iguais

Lista de textos (Strings)

In [9]:
lista_string = ['isto', 'é', 'uma', 'lista']
lista_string

['isto', 'é', 'uma', 'lista']

Posso usar números e textos em uma única lista? Pode sim!

In [14]:
lista_num_texto = ['aluno_1', 8.5, 78]

In [15]:
lista_num_texto

['aluno_1', 8.5, 78]

Vários tipos

In [16]:
nome = 'Fulano'
idade = 34

lista_todos_tipos = [nome, idade, 23, True, 'texto']

In [25]:
lista_nomes = ['Abacaxi', 'Maçã', 'Laranja', 'Abacaxi']

In [26]:
set(lista_nomes)

{'Abacaxi', 'Laranja', 'Maçã'}

In [20]:
set(lista_todos_tipos)

{23, 34, 'Fulano', True, 'texto'}

In [17]:
lista_todos_tipos

['Fulano', 34, 23, True, 'texto']

Se verificarmos o tipo, veremos que o python aponta como uma lista, ou seja, lista é uma tipo do python

In [18]:
type(lista_todos_tipos)

list

In [19]:
type({1,2})

set

Beleza, mas para trabalhar com esse valores, **preciamos acessá-los**. **Se usarmos apenas o nome da lista, ele simplesmente retorna toda a estrutura do tipo 'list'**.

No entanto, queremos acessar cada elemento individualmente ou apenas parte dos elementos.

O método utilizado pelo python para acessar os elementos de uma lista é através de **índices**.

**Um índice indica uma posição dentro da lista**

__MUITO IMPORTANTE: a numeração de índice começa em zero!__

Ou seja:

- O primeiro elemento tem índice 0: ```minha_lista[0]``` ,
- O segundo tem índice 1: ```minha_lista[1]```,

E assim por diante!

Também podemos acessar os últimos elementos, usando índices negativos:

- O último elemento tem índice -1: ```minha_lista[-1]```,
- O penúltimo tem índice -2: ```minha_lista[-2]```,

E assim por diante!

In [27]:
lista_nomes = ['joao', 'maria', 'jose', 'carlos']

In [28]:
lista_nomes[0]

'joao'

In [29]:
lista_nomes[1]

'maria'

**Pega o último**

In [30]:
lista_nomes[-1]

'carlos'

In [31]:
lista_nomes[-2]

'jose'

In [32]:
indice = 2+1
lista_nomes[indice]

'carlos'

Usando a função **len()** para saber o tamanho da lista

In [33]:
len(lista_nomes)

4

**São mutáveis. Podemos alterar o valor**

In [34]:
lista_nomes

['joao', 'maria', 'jose', 'carlos']

In [35]:
lista_nomes[2] = 'joana'

In [36]:
lista_nomes

['joao', 'maria', 'joana', 'carlos']

Mas e para acessar uma "**fatia**" da lista?

Podemos fazer isso indicando o intervalo de indices que desejamos usando o ":"

- ```minha_lista[1:3]```: seleciona os elementos de indice 1 até indice 2
- ```minha_lista[:4]```: seleciona do primeiro elemento até o de índice 3
- ```minha_lista[3:]```: seleciona do elemento de índice 3 até o final
- ```minha_lista[:]```: seleciona a lista inteira

Este conceito é chamado de "slicing" em Python, pois você está pegando "fatias" da lista!

Uma maneira interessante de ler o slicing é:

```minha_lista[:4]``` -> Pega toda a perte até o índice 3

O **elemento do último índice não é selecionado**

$[<início>:<fim>:<step>]$

In [37]:
notas = [8.5, 9.2, 4.5, 6, 8, 3.2, 7.9]
notas

[8.5, 9.2, 4.5, 6, 8, 3.2, 7.9]

In [38]:
# 2 primeiras
notas[:2]

[8.5, 9.2]

In [42]:
len(notas)

7

In [39]:
# Da segunda a quarta
notas[1:4]

[9.2, 4.5, 6]

In [40]:
# 3 últimas
notas[-3:]

[8, 3.2, 7.9]

In [49]:
# 2 últimas
notas[-2:]

[3.2, 7.9]

Usando o step. **Usamos um ":" a mais para o step**

In [52]:
notas

[8.5, 9.2, 4.5, 6, 8, 3.2, 7.9]

In [51]:
notas[::2]

[8.5, 4.5, 8, 7.9]

In [53]:
notas[::4]

[8.5, 8]

### Operações com listas

Soma. Ao utilizar o operador de **soma em duas listas**, elas são concatenadas, na ordem dada, formando uma lista maior.

In [54]:
nomes = ['João', 'Maria', 'Matheus']
notas = [4, 6, 2]

In [55]:
nomes + notas

['João', 'Maria', 'Matheus', 4, 6, 2]

In [56]:
notas + nomes

[4, 6, 2, 'João', 'Maria', 'Matheus']

In [58]:
[[nome, nota] for nome, nota in zip(nomes, notas)]

[['João', 4], ['Maria', 6], ['Matheus', 2]]

E se forem de tamanhos diferentes?

In [60]:
notas = [2, 4]

In [61]:
nomes+notas

['João', 'Maria', 'Matheus', 2, 4]

Usando o operador de multiplicação

In [63]:
lista_num = [1, 2, 3]

In [64]:
# Simplesmente vai repetir os elementos de acordo com o multiplicador
lista_num*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [65]:
lista_num*1

[1, 2, 3]

In [66]:
lista_zeros = [0]*10
lista_zeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Mas se eu usar índices?

In [70]:
lista_num.append('texto')

In [67]:
# Nesse caso ele multiplica pelo número, já que quando usamos índices ele retorna um inteiro
lista_num[2]*4

12

In [71]:
lista_num[3]*4

'textotextotextotexto'

In [72]:
lista_num.append(True)

In [73]:
lista_num[4]*4

4

In [68]:
type(lista_num[2])

int

Podemos também transformar uma string em lista de caracteres

In [74]:
list('texto')

['t', 'e', 'x', 't', 'o']

In [75]:
lista = list('texto')

In [76]:
# A palavra começa com
lista[0]

't'

Usando **range para inicializar uma lista**

O range é uma função que retorna uma **série numérica**

Possui 3 parâmetros:
- Início
- Fim
- Intervalo entre os elementos

In [81]:
type(range(4))

range

In [78]:
list(range(5))

[0, 1, 2, 3, 4]

In [79]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [82]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [85]:
list(range(10,-10,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

**Usando o random.sample() para gera uma lista de elementos aleatórios**

**O sample pega n elementos de algum conjunto: Params: conjunto; n**

In [138]:
import random
random.seed(1)

In [139]:
lista_aleatoria = random.sample(range(1, 61), 6)
lista_aleatoria

[9, 37, 55, 52, 49, 5]

In [140]:
lista_aleatoria = random.sample(range(1, 61), 6)
lista_aleatoria

[17, 8, 32, 49, 29, 31]

### Funções das listas

Uma abordagem muito comum é começarmos com uma lista vazia e aos poucos preenchê-la.

In [156]:
# Criando lista vazia
# Pode ser usando [] ou list()

lista = []
lista

[]

Para adicionar algum elemento usamos o método **append**

In [157]:
lista.append(5)

In [158]:
lista

[5]

In [159]:
lista.append('nome')

In [160]:
lista

[5, 'nome']

Um novo elemento sempre é inserido na última posição da lista

In [161]:
lista.append(7)

In [162]:
lista

[5, 'nome', 7]

Mas se fosse necessário mudar essa **ordem de inserção**? Isso é possível sim, através da função **insert()**.

Essa função recebe dois argumentos: a posição e o elemento

In [163]:
# Inserindo na primeira posição
lista.insert(0,'primeiro elemento')
lista

['primeiro elemento', 5, 'nome', 7]

In [164]:
lista.insert(4, 'ultimo elemento')
lista

['primeiro elemento', 5, 'nome', 7, 'ultimo elemento']

In [165]:
lista.insert(-1, 'oncoto')
lista

['primeiro elemento', 5, 'nome', 7, 'oncoto', 'ultimo elemento']

In [166]:
lista.insert(-1, 'proncovo')
lista

['primeiro elemento', 5, 'nome', 7, 'oncoto', 'proncovo', 'ultimo elemento']

In [ ]:
lista

Inseri um elemento errado na lista, e agora??? Você pode **redefinir** um elemento usando indexação.

Através dos índices acessamos os elementos, certo? Desta forma basta acessar um elemento através de um índice e fazer uma nova atribuição.

In [167]:
lista[1] = 'segundo elemento'

In [168]:
lista

['primeiro elemento',
 'segundo elemento',
 'nome',
 7,
 'oncoto',
 'proncovo',
 'ultimo elemento']

Inseri um elemento errado na lista, e agora??? Você pode **redefinir** um elemento usando indexação.

Através dos índices acessamos os elementos, certo? Desta forma basta acessar um elemento através de um índice e fazer uma nova atribuição.

Note no entanto que **se existir elementos repetidos, o remove() vai excluir a primeira aparição**
Se passarmos o valor **4 inteiro**, ele vai excluir o elemento 4 e **não no índice 4**

Mas podemos também fazer a **remoção utilizando índices, basta usar a função pop()**

In [169]:
lista.pop(2)

'nome'

In [170]:
lista.remove('proncovo')

In [171]:
lista

['primeiro elemento', 'segundo elemento', 7, 'oncoto', 'ultimo elemento']

In [175]:
lista.append('oncoto')

In [176]:
lista

['primeiro elemento',
 'segundo elemento',
 7,
 'oncoto',
 'ultimo elemento',
 'oncoto']

In [177]:
lista.remove('oncoto')

In [178]:
lista

['primeiro elemento', 'segundo elemento', 7, 'ultimo elemento', 'oncoto']

In [179]:
del lista[0]

In [180]:
lista

['segundo elemento', 7, 'ultimo elemento', 'oncoto']

In [181]:
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Note que ele remove a apresenta o elemento removido

---

**Ordenação**

Vamos supor que temos uma lista com vários valores numéricos

In [182]:
lista_numeros = [234, 45, 6, -4, 13]

Se apresentarmos os valores com um print ela irá retornar os valores na **ordem que foi definido**

In [183]:
print(lista_numeros)

[234, 45, 6, -4, 13]

E se fosse necessário ordenar? Nessa caso podemos usar o **sorted**

**Obs: o sorted() só pode ser utilizado em listas com o mesmo tipo de valores**

In [184]:
sorted(lista_numeros)

[-4, 6, 13, 45, 234]

In [185]:
sorted(lista_numeros, reverse=True)

[234, 45, 13, 6, -4]

**Nesse caso, tipos numéricos (int e float) podem estar na mesma lista**

In [186]:
lista_numeros.append(3.14)

In [187]:
lista_numeros

[234, 45, 6, -4, 13, 3.14]

In [188]:
sorted(lista_numeros)

[-4, 3.14, 6, 13, 45, 234]

**Listas de strings** também podem ser ordenadas, basta lembrar da **tabela ascii**

In [189]:
frutas = ['Laranja', 'Maça', 'Abacaxi']
frutas

['Laranja', 'Maça', 'Abacaxi']

In [190]:
sorted(frutas)

['Abacaxi', 'Laranja', 'Maça']

In [191]:
sorted(frutas, reverse=True)

['Maça', 'Laranja', 'Abacaxi']

Se você não quiser perder a ordem original da lista, **basta atribuir a lista original a uma variável, já que o sorted retorna a lista ordenada**.

In [192]:
frutas_ord = sorted(frutas)
frutas_ord

['Abacaxi', 'Laranja', 'Maça']

In [194]:
sorted(frutas, key=len)

['Maça', 'Laranja', 'Abacaxi']

In [195]:
sorted(frutas, key=max)

['Laranja', 'Abacaxi', 'Maça']

Podemos **inverter a ordem dos elementos** usando reverse

In [193]:
teste = [1,2,3,4,5]
teste.reverse()
teste

[5, 4, 3, 2, 1]

E se eu **primeiro usar o sorted e depois inverter? Nesse caso teremos uma lista decrescente**

In [196]:
teste = [5, 12, 87, 3, 10]
nova_lista = sorted(teste)
nova_lista.reverse()
print(nova_lista)

[87, 12, 10, 5, 3]

In [201]:
teste = [5, 12, 87, 3, 10]
teste.sort(reverse=True)

In [202]:
teste

[87, 12, 10, 5, 3]

O mesmo vale para **strings**

In [197]:
frutas.reverse()

In [198]:
frutas

['Abacaxi', 'Maça', 'Laranja']

Podemos ainda fazer isso de outra maneira

In [203]:
notas = [8.5, 9.2, 4.5, 6, 8, 3.2, 7.9]

In [204]:
# Do elemento do índice 1 até o último elemento, de dois em dois
notas[1::2]

[9.2, 6, 3.2]

In [205]:
notas_ordem = sorted(notas)
notas_ordem[::-1]

[9.2, 8.5, 8, 7.9, 6, 4.5, 3.2]

**Algumas outras funções**

Exite um método que nos retorna o índice de um determinado elemento

Além disso, temos outros métodos onde podemos retornar algumas **propriedades das listas**

In [206]:
notas = [8.5, 9.2, 4.5, 6, 8, 3.2, 7.9]

**Encontrar o maior elemento**

In [207]:
max(notas)

9.2

**Encontrar o menor elemento**

In [208]:
min(notas)

3.2

**Somar todos elementos da lista**

In [209]:
sum(notas)

47.300000000000004

### Exercício rápido

Peça ao usuário para inserir um determinado número de notas. Grave essas notas em uma lista e depois imprima a média.

In [210]:
lista_notas = []
controladora = 1
quantidade_notas = int(input('Quantidade de notas a cadastrar: '))

while controladora <= quantidade_notas:
    nota = float(input(f'Digite a nota {controladora}: '))
    
    lista_notas.append(nota)
    controladora += 1
    
media = sum(lista_notas)/len(lista_notas)
print(f'Média das notas: {media}')

Quantidade de notas a cadastrar: 4
Digite a nota 1: 9.7
Digite a nota 2: 3.4
Digite a nota 3: 10
Digite a nota 4: 7.4
Média das notas: 7.625

## Laços de repetição (for)

Na última aula, vimos como usar o laço de repetição "while" para repetir operações em Python

Agora, veremos um outro laço, o **for**

Mas, antes de vermos como este laço pode ser utilizado para **repetir operações**, é interessante entender o `for` como sendo, na realidade, um operador utilizado para **percorrer elementos de uma lista** (na verdade, de qualquer objeto **iterável**. Conheceremos outros objetos assim mais pra frente...)

A estrutura do for é:

```python
for i in range(N):
    operacao_repetida
```

```python
for item in lista:
    operacao_feita_pra_cada_item
```

Vejamos um exemplo parecido com o uso do while. **Aqui usando o método range()**

In [211]:
for e in range(4):
    print('Olá Mundo!')

Olá Mundo!
Olá Mundo!
Olá Mundo!
Olá Mundo!

Mas o que é o **in**?

Como se tivéssemos perguntando se um elemento está na lista ou na sequência numérica (range)

In [212]:
lista = [4, 3, 2, 'nome']
'nome' in lista

True

Lembrando do **not**

In [214]:
lista = [4, 3, 2, 'nome']
'fulano' not in lista

True

A forma **mais comum de utilizar o for é sobre elementos iteráveis! Já conhecemos um deles, que inclusive é bastante utilizado. AS LISTAS!**

In [215]:
lista = [6, 3.14, 7, 9, 10, 'string', True]

for item in lista:
    print(item)

6
3.14
7
9
10
string
True

In [222]:
lista = [6, 3.14, 7, 9, 10, 'string']

for item in lista:
    print(item)

6
3.14
7
9
10
string

In [223]:
item

'string'

__Um exemplo de uso...__

Separando números positivos e negativos de uma lista de números

In [224]:
numeros = [-4, 2, 8, -10, 15, -9, -11, 0]
pos = []
neg = []

for numero in numeros:
    if numero<0:
        neg.append(numero)
    elif numero>0:
        pos.append(numero)
        
print(f'Positivos: {pos}')
print(f'Negativos: {neg}')

Positivos: [2, 8, 15]
Negativos: [-4, -10, -9, -11]

O "for" percorre todos os elementos de uma lista, a não ser que o "break" seja utilizado -- esse comando quebra o for, ou seja, os elementos param de ser percorridos

In [227]:
numeros = [-4, 2, 8, -10, 15, 0, -9, -11]
pos = []
neg = []

for numero in numeros:
    if numero<0:
        neg.append(numero)
    elif numero>0:
        pos.append(numero)
    else:
        print('Encontrei um zero')
        break
        
print(f'Positivos: {pos}')
print(f'Negativos: {neg}')

Encontrei um zero
Positivos: [2, 8, 15]
Negativos: [-4, -10, -9, -11]

Podemos fazer operações com os elementos de umas lista e usá-los pra preencher outra lista:

In [228]:
numeros = [-4, 2, 8, -10, 15, -9, -11, 0]
numeros_dobrados = []

for numero in numeros:
    numeros_dobrados.append(numero * 2)
    
print(numeros_dobrados)

[-8, 4, 16, -20, 30, -18, -22, 0]

In [232]:
palavra = 'iteracao'

for letra in palavra:
    print(letra*2)

ii
tt
ee
rr
aa
cc
aa
oo

In [230]:
nomes

['João', 'Maria', 'Matheus']

In [231]:
for nome in nomes:
    print(nome)

João
Maria
Matheus

**Exercício rápido.  Faça um programa em Python que leia um valor inteiro e mostre a tabuada de 1 a 10 do valor lido usando `for`.**

In [239]:
numero = int(input('Informe o número: '))

print(f'Tabuada de {numero}: ')

for i in range(1, 11):
    print(f'{numero} X {i} = {numero*i}')

Informe o número: 5
Tabuada de 5:
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## Compreensão de listas

Uma estrutura extremamente útil em python é a __compreensão de listas__ (list comprehension), com a qual é possível construir listas novas a partir de outras listas de forma bem condensada!

A sintaxe é: 

```python
[operacao_sobre_os_items for item in lista_base]
```

Por exemplo, é possível criar a mesma "lista_dobro" definida acima, de forma muito mais condensada:

In [241]:
numeros = [-4, 2, 8, -10, 0, 15, -9, -11]

numeros_dobrados = sorted([numero*2 for numero in numeros])
numeros_dobrados

[-22, -20, -18, -8, 0, 4, 16, 30]

Também é possível construir uma lista usando compreensão de listas com base em alguma estrutura condicional!

Se você for utilizar apenas o if, a sintaxe é:

```python
[operacao_sobre_os_items for item in lista_base if condicao]
```

In [242]:
numeros = [-4, 2, 8, -10, 0, 15, -9, -11]

numeros_dobrados = [numero*2 for numero in numeros if numero>0]
numeros_dobrados

[4, 16, 30]

Caso você queira utilizar também o else como parte da estrutura condicional, a sintaxe muda um pouco:

```python
[valor_caso_if if condicao else valor_caso_else for item in lista_base]
```

In [243]:
# também é possível definir o else.
# mas aí a estrutura muda um pouco: primeiro as condições, depois o for

numeros = [-4, 2, 8, -10, 0, 15, -9, -11]

numeros_dobrados = [numero*2 if numero > 0 else numero for numero in numeros]
numeros_dobrados

[-4, 4, 16, -10, 0, 30, -9, -11]

In [249]:
lista_cidades = ['formiga', 
                 'araxa', 
                 'arcos', 
                 'araguari', 
                 'lavras', 
                 'candeias',
                 'abaete',
                 'vicosa', 
                 'curvelo']

cidades_a = []

for cidade in lista_cidades:
    if cidade[0]=='a':
        cidades_a.append(cidade)
cidades_a

['araxa', 'arcos', 'araguari', 'abaete']

In [250]:
lista_cidades = ['formiga', 
                 'araxa', 
                 'arcos', 
                 'araguari', 
                 'lavras', 
                 'candeias',
                 'abaete',
                 'vicosa', 
                 'curvelo']
              #\/a ser retornado
cidades_a = [cidade for cidade in lista_cidades if cidade[0]=='a']
cidades_a

['araxa', 'arcos', 'araguari', 'abaete']

In [254]:
lista_cidades = ['formiga', 
                 'araxa', 
                 'arcos', 
                 'araguari',
                 'aguas de lindoia',
                 'lavras', 
                 'candeias',
                 'abaete',
                 'vicosa', 
                 'curvelo']

cidades_a = [cidade.title() for cidade in lista_cidades if cidade[0]=='a']
cidades_a

['Araxa', 'Arcos', 'Araguari', 'Aguas De Lindoia', 'Abaete']

In [255]:
lista_cidades = ['formiga', 
                 'araxa', 
                 'arcos', 
                 'araguari',
                 'aguas de lindoia',
                 'lavras', 
                 'candeias',
                 'abaete',
                 'vicosa', 
                 'curvelo']

cidades_a = [cidade.capitalize() for cidade in lista_cidades if cidade[0]=='a']
cidades_a

['Araxa', 'Arcos', 'Araguari', 'Aguas de lindoia', 'Abaete']

In [256]:
lista_cidades = ['formiga', 
                 'araxa', 
                 'arcos', 
                 'araguari',
                 'aguas de lindoia',
                 'lavras', 
                 'candeias',
                 'abaete',
                 'vicosa', 
                 'curvelo']

cidades_a = [cidade.upper() for cidade in lista_cidades if cidade[0]=='a']
cidades_a

['ARAXA', 'ARCOS', 'ARAGUARI', 'AGUAS DE LINDOIA', 'ABAETE']

In [257]:
list('ARAXA')

['A', 'R', 'A', 'X', 'A']

**Exercício Rápido: Calcule a potência de 2 com expoente de 1 até a 10 e guarde em uma lista**

In [258]:
pot_2 = [2**n for n in range(1,11)]
pot_2

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

## Strings

Desde a primeira aula, temos trabalhado com strings, que, como vimos, representam **dados textuais**

Vamos, agora, olhar pra strings um pouco mais a fundo, e aprender algumas funções para trabalharmos com strings

Uma string nada mais é do que uma **coleção de caracteres**!

Assim, podemos acessar caracteres específicos ou então um intervalo de caracteres de uma string, como se fosse uma lista!

**OBS.: Para strings também, o índice começa em 0, e podemos usar índices negativos!**

In [259]:
palavra = 'pindamonhangaba'
type(palavra)

str

In [260]:
palavra[-2]

'b'

In [261]:
palavra[0]

'p'

In [262]:
len(palavra)

15

Podemos também percorrer cada caractere da string com o `for` -- strings são objetos **iteráveis**:

In [263]:
for char in palavra:
    print(char)

p
i
n
d
a
m
o
n
h
a
n
g
a
b
a

Apesar de se parecer com uma lista, a string não tem exatamente as propriedades de uma lista. Por exemplo, **não podemos alterar** caracteres individualmente:

In [265]:
cidade = 'formiga'

cidade[3] = 'e'

TypeError: 'str' object does not support item assignment

Mas nós conseguimos **alterar caracteres (ou palavras)** com o método "replace()":

In [266]:
palavra_nova = 'abacate'

palavra_nova.replace('a', 'e')

'ebecete'

Podemos **transformar uma string em uma lista de caracteres**, explicitamente, usando a função "list()"

In [267]:
lista_da_palavra = list(palavra)

In [268]:
lista_da_palavra

['p', 'i', 'n', 'd', 'a', 'm', 'o', 'n', 'h', 'a', 'n', 'g', 'a', 'b', 'a']

Agora sim, podemos alterar um elemento da lista:

In [269]:
lista_da_palavra[4] = 'j'

E, pra transformar a lista de volta pra string, usamos a função "join()":

In [270]:
''.join(lista_da_palavra)

'pindjmonhangaba'

In [271]:
'*'.join(lista_da_palavra)

'p*i*n*d*j*m*o*n*h*a*n*g*a*b*a'

In [272]:
' '.join(lista_da_palavra)

'p i n d j m o n h a n g a b a'

Um exemplo do uso do .join() pra juntar os números de uma lista em um único numero

In [273]:
lista_numeros = ['1', '2', '3', '4', '5']

int(''.join(lista_numeros))

12345

In [274]:
lista = [1, 2, 3, 4, 5, 6]
lista2 = [str(x) for x in lista]
lista3 = int("".join(lista2))
lista3

123456

Como já vimos, podemos fazer **operações com strings**:

Soma de strings: ao somar duas strings, elas são concatenadas:

In [275]:
'em ' + 'brasilia ' + '19 horas'

'em brasilia 19 horas'

Multiplicação de string por inteiro: ao multiplicar uma string por um número inteiro, a string é repetida:

In [276]:
'oh'+' no' * 5

'oh no no no no no'

### Funções de strings

Como listas, strings também têm algumas funções específicas. Algumas delas são:

.upper(): transforma todos os caracteres em maiúscula

In [277]:
'formiga'.upper()

'FORMIGA'

.lower(): trasnforma todos os caracteres em minúscula

In [278]:
'PYTHON'.lower()

'python'

In [279]:
'PyThOn'.lower()

'python'

.title(): deixa a primeira letra de cada palavra em maiúscula

In [280]:
'são jose do rio preto'.title()

'São Jose Do Rio Preto'

.capitalize(): deixa a primeira letra da primeira palavra em maiúscula

In [281]:
'de volta para o futuro'.capitalize()

'De volta para o futuro'

É possível quebrar uma string em determinado caractere, tendo como resultado uma **lista com os caracteres além da quebra**.

- Para quebrar nos espaços, use a função ".split()", sem argumento

In [282]:
'laranja, banana, maca, melancia'.split(', ')

['laranja', 'banana', 'maca', 'melancia']

In [283]:
'laranja, banana, maca, melancia'.split()

['laranja,', 'banana,', 'maca,', 'melancia']

In [284]:
'laranja banana maca melancia'.split()

['laranja', 'banana', 'maca', 'melancia']

- Para quebrar em algum caracter, use o caractere como argumento:

In [285]:
'laranja,banana,maca,melancia'.split('a')

['l', 'r', 'nj', ',b', 'n', 'n', ',m', 'c', ',mel', 'nci', '']

__Tirar espaços que tão sobrando no fim e no início da string__

Utilize a função strip()

In [286]:
'      Andrey      '.strip()

'Andrey'

In [287]:
'      And  rey      '.strip()

'And  rey'

In [288]:
'      And  rey      '.replace(' ', '')

'Andrey'

In [289]:
'      Andrey      '.rstrip()

'      Andrey'

In [290]:
'      Andrey      '.lstrip()

'Andrey      '

Outras funções interessantes...

- isdigit()
- isalpha()
- isalnum()
- isspace()
- isupper()

In [291]:
'12345'.isdigit()

True

In [292]:
'12345.5'.isdigit()

False

In [293]:
'abacate'.isalpha()

True

In [294]:
'4abacate'.isalpha()

False

In [295]:
'4abacate'.isalnum()

True

In [296]:
'     '.isspace()

True

In [297]:
'     KK'.isspace()

False

In [298]:
'PYTHON'.isupper()

True

In [299]:
'Python'.isupper()

False

In [300]:
'teste'.islower()

True

### Formatação de strings

Também podemos **formatar strings**. Isso pode ser super útil tanto ao receber dados do usuário (input) quando ao exbibir dados pro usuário (print)

Um dos usos mais legal do format é para **exibir** strings formatadas.

Imagine que você queira exibir uma data no formato dd/mm/aaaa.

Em situações normais, dias e meses inferiores a 10 apareceriam com apenas 1 dígito (int não é representado com zeros à esquerda). Porém, podemos especificar no format que gostaríamos de representar um inteiro com 2 dígitos, preenchendo com zero dígitos em branco (à esquerda): 

```python

dia = 1
mes = 2
ano = 2020
data = f'{:02d}/{:02d}/{:04d}'
print(data) # resultado: 01/02/2020
```

O símbolo 'd' indica que estamos representando números **inteiros** em base decimal (dígitos de 0 a 9). 

Os símbolos '2' e '4' indicam, respectivamente, 2 dígitos ou 4 dígitos. 

o símbolo '0' indica que se faltar dígitos, os espaços devem ser preenchidos com zero

In [301]:
dia = 1
mes = 2
ano = 2021
print(f'{dia}/{mes}/{ano}')

1/2/2021

In [302]:
dia = 1
mes = 2
ano = 20201
data = f'{dia:02d}/{mes:02d}/{ano:04d}'
print(data) # resultado: 01/02/2020

01/02/20201

Imagina que você queira exibir algum valor monetário, por exemplo, o preço de alguma coisa.

Utilizando float, pode ser que seu resultado tenha apenas uma casa decimal.

Mas, se tratando de dinheito, sempre queremos mostrar duas casas decimais!

Usaremos o format para representar com apenas 2 casas.

```python
preco = 1500.5

print(preco) 

precoFinal = f'R$ {preco:.2f}'

print(precoFinal)
```

Neste caso, o 'f' indica que o número é float. 

Já o '.2' indica que queremos 2 casas após o ponto decimal. 

Note que a função não apenas descarta as casas excedentes, e sim arredonda corretamente o número.

In [303]:
preco = 1500.5

print(preco) 

precoFinal = f'R$ {preco:.2f}'

print(precoFinal)

1500.5
R$ 1500.50

In [304]:
valor_quebrado = 156.9999999

print(f'{valor_quebrado:.3f}')

157.000

### Exercício

Cifra de César símples

Quando falamos de segurança da informação, a criptografia vem logo à mente. Se trata da codificação de mensagens para impedir a leitura por receptores indesejados. A Cifra de César é um dos métodos mais simples e conhecidos da criptografia. Nela, uma letra da mensagem é substituida por outra que se encontra um número fixo de posições em relação ao alfabeto.

Ex.: Se o número fixo (chave) é 3, a letra A seria trocada por D, B por E e assim por diante. 

Implemente, usando os conceitos de String em Python, a Cifra de César.

*Exemplo 1, com shift 1*: "Ola mundo" -> 'Pmb!nvoep'

*Exemplo 2, com shift 2*: "Ola mundo" -> 'Qnc"owpfq'

*Exemplo 3, com shift 1*: "zebra" -> '{fcsb'

*Dicas*: use as funções chr() e ord() e o código ASCII.

In [305]:
import random
shift = random.randint(1,6)
print(shift)

6

In [306]:
frase = input('Digite a frase:\n')
n = random.randint(1,3)
crip = [chr(ord(x)+n) for x in frase]
print(''.join(crip))

Digite a frase:
formiga
hqtokic